.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.918);
    padding: 0.8rem 2.3rem;
    color: rgb(43, 42, 42)
}

.sot {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem
}