.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(167, 198, 225);
    color: black;
    font-weight: 500;
    padding: 0 1rem;
    position: sticky;
  }
  .Nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .Nav a {
    display: block;
    padding: .5rem 1rem;
    color: black;
    font-size: .8rem;
    text-decoration: none;
  }
  .Nav a:hover {
    background-color: rgba(255, 255, 255, .1);
  }
  .Nav img{
    gap: 20px;
  }